[Unit]
Description=gunicorn daemon for Django project
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/django-ecommerce
ExecStart=/home/ubuntu/django-ecommerce/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/home/ubuntu/django-ecommerce/gunicorn.sock \
          ecomm.wsgi:application

Environment="SECRET_KEY=your_secret_key"
Environment="DEBUG=False"
Environment="ALLOWED_HOSTS=3.108.65.30"
# Add other environment variables your project needs

[Install]
WantedBy=multi-user.target
