[Unit]
Description=gunicorn daemon for Django project
After=network.target

[Service]
# CRITICAL: This line tells systemd to load all variables 
# from the gunicorn.env file which you copied into the project directory.
UMask=002
EnvironmentFile=/home/ubuntu/django-ecommerce/server-configs/gunicorn.env
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/django-ecommerce
ExecStart=/home/ubuntu/django-ecommerce/venv/bin/gunicorn \
         --access-logfile - \
         --workers 3 \
         --bind unix:/home/ubuntu/django-ecommerce/gunicorn.sock \
         ecomm.wsgi:application

# The previous Environment="..." lines are now removed, as they are in gunicorn.env.

[Install]
WantedBy=multi-user.target