[Unit]
Description=gunicorn daemon for Django project
After=network.target

[Service]
# CRITICAL: This tells systemd to create /var/run/gunicorn/ with correct permissions for Nginx
RuntimeDirectory=gunicorn 
UMask=002
EnvironmentFile=/home/ubuntu/django-ecommerce/server-configs/gunicorn.env
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/django-ecommerce

ExecStart=/home/ubuntu/django-ecommerce/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/var/run/gunicorn/django-ecommerce.sock \
    ecomm.wsgi:application

[Install]
WantedBy=multi-user.target